.footer {
  background-color: #000;
  color: #fff;
  padding: 80px 84px 10px 128px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.top {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
  /* margin-bottom: 20px; */
}

.newsletter h3,
.contact h3,
.bottomLeft h4,
.bottomRight h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.contact h3 {
  margin-bottom: 0 !important;
}

.newsletter p,
.contact p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #fff;
}

.currencyNote {
  font-size: 12px !important;
  font-weight: 400;
}

.newsletter h3 {
  margin-bottom: 2rem;
}

.newsletter p {
  margin-bottom: 3.125rem;
}

.inputGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 12px;
}

.inputGroup input {
  font-family: "Satoshi", sans-serif;
  font-size: 1.125rem !important;
  flex: 1;
  max-width: 22rem;
  padding: 13px 24px;
  border: none;
  font-size: 0.9rem;
}

.inputGroup input:focus {
  outline: none;
}

.inputGroup button {
  padding: 13px 48px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.125rem;
  cursor: pointer;
  opacity: 30%;
}

.contactDetails {
  display: flex;
  flex-direction: column;
}

.currency {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.9rem;
  margin: 16px 0;
}

.currencyHead {
  margin-top: 24px;
  margin-bottom: 16px !important;
}

.currentFormat {
  font-size: 1rem;
  font-weight: 700;
}

.divider {
  border-top: 1px solid #fff;
  margin: 26px 0 40px;
}

.divider2 {
  display: none;
}

.bottom {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
}

.bottomLeft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column li {
  font-size: 1.125rem;
  margin-bottom: 16px;
  cursor: pointer;
}

.socialIcons {
  display: flex;
  gap: 12px;
  margin: 12px 0 56px;
}

.payments {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.paymentsHead {
  margin-bottom: 16px !important;
}

.copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #fff;
}

.bottomMobile {
  display: none;
  flex-direction: column;
  /* gap: 20px; */
}

.bottomMobile details {
  border-bottom: 1px solid #fff;
  padding: 24px 0;
}

.bottomMobile summary {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  list-style: none;
}

.bottomMobile ul {
  list-style: none;
  padding-left: 0;
  margin-top: 24px;
  margin-bottom: 0;
}

.bottomMobile li {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
}

/* Responsive */
@media (max-width: 768px) {
  .top,
  .bottom {
    display: flex;
    flex-direction: column;
  }

  .bottomLeft {
    display: flex;
    flex-direction: column;
  }

  .inputGroup {
    flex-direction: column;
  }

  .inputGroup input,
  .inputGroup button {
    width: 100%;
  }

  .socialIcons,
  .payments {
    justify-content: flex-start;
  }

  .footer {
    padding: 24px 16px;
  }

  .newsletter h3 {
    margin-bottom: 8px;
    font-size: 1rem;
  }

  .newsletter p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 14px !important;
  }

  .inputGroup {
    flex-direction: row;
  }

  .inputGroup input {
    max-width: 226px;
  }

  .inputGroup button {
    font-size: 1rem;
    padding: 14px;
    max-width: fit-content;
  }

  .top {
    gap: 24px;
  }

  .divider2 {
    display: block;
    border-top: 1px solid #fff;
    margin: 10px 0 0 0;
  }

  .contactDetails {
    flex-direction: row;
    gap: 16px;
  }

  .contact h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px !important;
  }

  .contact p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 14px;
  }

  .currency {
    margin-bottom: 14px;
  }

  .currencyHead {
    margin-top: 24px !important;
  }

  .currentFormat {
    font-size: 14px;
  }

  .currencyNote {
    display: none;
  }

  .divider {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .bottomLeft,
  .bottomRight {
    display: none;
  }

  .bottomMobile {
    display: flex;
  }

  .socialIcons {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .payments {
    gap: 8px;
  }

  .paymentSize {
    width: 50px;
    height: 30px;
  }
}
