.card {
  background-color: #fff;
  border-radius: 8px;
  max-width: 300px;
}

.imagePlaceholder {
  width: 100%;
  height: 400px;
  background-color: #ddd;
  margin-bottom: 12px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  width: 250px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  font-size: 14px;
  font-weight: 400;
  color: #888792;
  margin: 0;
}

@media (max-width: 768px) {
  .card {
    width: 166px;
    height: 280px;
  }

  .imagePlaceholder {
    height: 200px;
  }

  .productDetails {
    align-items: flex-start;
  }

  .title {
    font-size: 14px;
    max-width: 140px;
  }

  .price {
    font-size: 12px;
  }

  .productImage {
    object-fit: cover;
  }

  .icon {
    margin-top: 16px;
    width: 16px;
    height: 16px;
  }
}

