.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 5%;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.left {
  gap: 16px;
}

.right {
  gap: 24px;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.languageText {
  font-weight: 700;
}

.companyName {
  font-size: 1.6rem;
  font-weight: 900;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;

  line-height: 0;
  vertical-align: middle;
}


.languageDropdown,
.profileIcon {
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  object-fit: contain;
}


@media (max-width: 768px) {
  .navbar {
    padding: 16px;
    border-bottom: 1px solid #eaeaea;
  }

  .hamburger {
    display: flex;
  }

  .languageDropdown,
  .profileIcon {
    display: none;
  }

  .center {
    justify-content: center;
  }

  .left {
    gap: 12px;
  }

  .companyName {
    font-size: 1.25rem;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.icon :global(span) {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
}
