.headSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
}

.heading {
  font-size: 3.75rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.subheading {
  font-size: 1.375rem;
  font-weight: 400;
  max-width: 600px;
}

@media (max-width: 768px) {
  .headSection {
    padding: 0 5%;
  }
  .heading {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .subheading {
    font-size: 1rem;
  }
}
